.layer {
  position: absolute;
}
.section-calendar {
  height: 882px;
  position: relative;
  overflow: hidden;
}
.section-calendar .agenda {
  padding: 52px 30px;
  height: 600px;
}
.next-race, .last-race, .race-pic {
  overflow: hidden;
  height: 360px;
  z-index: -1;
}
.last-race {
  top: 542px;
}
.race-pic {
  height: 388px;
}

.enduro-brand {
  display: block;
  position: absolute;
  width: 400px;
  left: 50%;
  margin: 0 0 0 -200px;
  top: 340px;
  text-align: center;
  z-index: 100;
}
.date-calendar {
  display: block;
  width: 70px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.date-calendar span {
  display: block;
  padding: 4px;
}
.date-calendar span:first-child {
  background: #8f0606;
  color: white;
  font-size: 14px;
}
.date-calendar span:last-child {
  background: white;
  color: black;
  font-size: 20px;
}
.description a {
  min-width: 114px;
}
.featured {
  background-color: #f15a22;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding: 20px;
  box-shadow: 0 12px 40px rgba(0,0,0,.5);
  width: 100%;
  z-index: 10;
  top: 374px;
}
.featured .calendar-event {
  position: relative;
  padding-right: 90px;
  padding-left: 0;
  text-transform: uppercase;
  min-width: 440px;
}
.featured .calendar-event .date-calendar {
  position: absolute;
  right: 0;
}
.featured .calendar-event h4 {
  color: white;
  font-size: 18px;
  margin: 5px 0 0;
}
.featured .calendar-event:last-child h4 {
  color: #fff200;
}
.featured .calendar-event h3 {
  color: #0098dc;
  font-size: 56px;
  margin: 5px 0;
}
.featured .calendar-event:first-child h3 {
  color: #fff200;
}
.featured .calendar-event h3 span {
  font-size: 35px;
  vertical-align: top;
}
.featured .description > * {
  display: block;
}
.featured .description {
  font-size: 18px;
}
.featured .description strong {
  font-weight: normal;
}
.featured .description span {
  font-weight: 300;
}
.featured .description a {
  display: block;
  position: absolute;
  right: 0px;
  border-radius: 0;
  font-weight: 300;
  font-size: 16px;
  padding: 2px 20px;
  right: 0;
  margin-top: -60px;
}
.featured .description a:last-child {
  margin-top: -26px;
}
.section-gallery {
  background: #555555;
  box-sizing: border-box;
  padding: 20px;
  text-shadow: 0px 2px 4px rgba(0,0,0,.4);
}
.section-gallery [role="tabpanel"] {
  text-transform: uppercase;
  color: white;
}
.section-gallery > [role="tabpanel"]{
  display: block;
  float: left;
}
.section-gallery [role="tabpanel"] h2{
  display: inline-block;
  font-size: 40px;
}
.section-gallery [role="tabpanel"] ul{
  display: inline-block;
  margin: 0 20px;
}
.section-gallery > [role="tabpanel"] h2{
  color: #fff200;
}
.section-gallery .inline-brand {
  margin-top:20px;
}
.section-gallery .nav-tabs {
  border-bottom: 1px solid transparent;
}
.section-gallery .nav-tabs>li>a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  padding: 8px 30px;
  border-radius: 0;
  text-shadow: 0 0 0 transparent;
  background: #fff200;
  color: #2c2c2c;
  box-shadow: 1px 1px 1px rgba(255,255,255,.3);
  border: 1px solid transparent;
}
.section-gallery .tab-pane .nav-tabs>li>a {
  background: #2c2c2c;
  color: #f15a22;
}
.section-gallery .nav-tabs>li.active>a, .section-gallery .nav-tabs>li.active>a:focus, .section-gallery .nav-tabs>li.active>a:hover{
  background: #f15a22;
  color: #2c2c2c;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.section-gallery .nav-tabs>li.disabled>a {
  background: transparent;
  box-shadow: none;
  color: #2c2c2c;
  text-shadow: 0 1px 2px rgba(255,255,255,.4);
}
.section-gallery .tab-pane .tab-pane {
  max-width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
.section-gallery .tab-pane .tab-pane img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.embedded-video {
  width: 100%;
  height: 900px;
  border: none;
}

/*** Responsive ***/ /*WIP*/
@media (max-width: 720px) {
 .race-pic, .next-race, .last-race {
  height: auto;
 }
 .agenda-layer, .enduro-brand.layer {
  display: none !important;
 }
 .featured.layer {
  top: 192px;
 }
 .last-race {
  top: 548px;
 }
 .section-calendar {
  height: 690px;
 }
 .footer-proximity {
  display: none;
 }
 .featured .calendar-event {
  padding: 0 !important;
  clear: both;
  float: none !important;
  width: 100% !important;
  min-width: inherit !important;
 }
 .featured .calendar-event:first-child {
  margin-bottom: 30px;
 }
 .featured .calendar-event h3 {
  font-size: 35px !important;
 }
 .featured .calendar-event .date-calendar, .featured .calendar-event .description, .featured .calendar-event .description .btn {
  display: block !important;
  position: relative !important;
  margin: 0 !important;
 }
 .featured .calendar-event .date-calendar {
  float: left;
  margin-right: 20px !important;
 }
 .featured .calendar-event .date-calendar span {
  font-size: 14px;
  display: inline;
 }
}
